header{
    background-color: black;
    color: tan;
    .titulo{
        color: $colorletras;
        text-align: center;
        font-size: 45px;
        font-weight: lighter;
        margin-top: 20px;
    }
}
body{
    background-color: black;
}