.nosotros h2{
    text-align: center;
    padding-top: 25vh;
    font-size: 30px;
    color: tan;
    text-decoration: underline tan;
    letter-spacing: 2px;

    p{
        color: white;
    }

    }